/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2020, 10:19:32 AM
    Author     : user
*/
@media (min-width: 992px) and (max-width: 1199px){
    .circle-bottom{
        margin-bottom: 51px;
    }
}

@media (max-width: 991px){
    .partners{
        margin-left: -16px;
        margin-right: -16px;
    }
    .submit-left{
        margin-left: 1px;
    }
    .a-img{
        margin-left: 145px;
    }
    .a-img-p{
        margin-left: 0px;
    }
    .btn-i{
        margin-left: -75px;
    }
    .agent-name{
        margin-top: 20px;
    }
    .code-i{
        margin-left: 70px;
    }
    .footer-sec1{
        margin-left: 1px;
    }
    .footer-sec2{
        margin-left: -2px;
    }
    .a-i{
        margin-top: 0px;
    }
    .ami-f{
        font-size: 13px;
    }
    .pricing-m{
        margin-bottom: 10px;
    }
    .mg{
        padding-left: 1px;
    }
    .detail-box{
        margin-right: 0px;
        margin-left: 1px;
    }
    .no-p-i{
        margin-left: 15px;
    }
    .a-detail-i{
        padding-bottom: 1px !important;
    }
    .code-i{
        margin-left: 70px;
    }
    .header-i{
        padding-left: 0px;
    }
    .header-drop-i{
        background: #eeeeee !important;
    }
   
    .h-drop-i{
        margin-left: 20px !important;
    }
}

@media (max-width: 767px){
    .submit{
        margin-left: 1px;
    }
    .f-mrg{
        margin-left: 22px;
    }
    .padd{
        margin-left: 0!important;
    }

}


@media (max-width: 480px){
    .abt-txt{
        margin-left: 25px;
        margin-right: 25px;
    }
    .f-design{
        padding-left: 0;
    }
    .agent-h{
        margin-left: -4px;
    }
    .c-form-submit{
        margin-left: 1px;
    }
    .location-box{
        margin-right: -105px;
    }
    .social-f{
        margin-left: 20px;
    }
    .view-city{
        font-size: 23px;
    }
    .view-d-a{
        margin-top: 1px;
    }
    .location-box-s{
        margin-right: 88px!important;
        margin-right: 0!important;
        padding-right: 0!important;
    }
    .f{
        margin-left: 0!important;
    }
    .add{
        height: 123px;
    }
    .soci{
        margin-left: 0px;
    }
    .refresh-res{
        margin-left: -56px;
    }
    .our{
        margin-top: 65px;
    }
    .view-font-span{
        font-size: 10px;
    }
    .view-font{
        font-size: 10px;
    }
    .mrg{
        margin-left: 0px;
    }
    .our-location{
        margin-top: 55px;
    }
    .btn-m{
        margin-left: -83px ;
    }
    .slider-heading{
        margin-right: 14px;
    }
    .img-padding{
        padding-left: 15px !important;
        padding-top: 17px;
        padding-bottom: 20px;
    }
    .a-name{
        margin-right: 2px;
    }
}

@media (max-width: 320px){

}

@media (min-width: 768px) and (max-width: 992px){
    .circle-title{
        font-size: 16px;
    }

    .box-mrg{
        margin-top: 0px;
    }

    .res-padd{
        padding-left: 104px;
    }
    .slider-i{
        margin-right: 14px;
    }
    .db-mrg{
        margin-left: 22px;
    }
    .b-overlay{

    }

}

@media (min-width: 768px) and (max-width: 1024px){
    /*    .circle-title{
            font-size: 19px;
        }*/

    .circle-bottom{
        margin-bottom: 51px;
    }
}

@media only screen and (max-width: 576px){
    .testi-padd {
        padding-left: 50px;
        padding-right: 50px;
    }
    .footer-m {
        margin-bottom: 0px !important;
    }
    .mobile-nav{
        padding: 11px 20.5px !important;
    }
    .text-m{
        margin-bottom: 33px;
    }
    .abt-icon-m{
        margin: 0px;
    }
    .im-sec{
        padding-bottom: 1px;
    }
    .price-mrg{
        margin-bottom: 12px;
    }
    .title-m{
        margin-left: 18px;
    }
    .font-m{
        font-size: 18px;
    }
    .a-details{
        margin-top: -9px;
    }
    .upper-padd{
        margin-top: 6px;
    }
    .code-m{
        margin-left: 125px !important;
    }
    .l-box-m{
        margin-right: 15px;
    }
    .social{
        margin-left: -22px;
    }
    .add{
        margin-left: -13px;
    }
    .view-am{
        font-size: 13px;
    }
    .a-mar{
        padding-left: 14px;
    }
    .header-nav{
        margin-top: -12px !important;
        padding-bottom: 12px !important;
    }
    .search{
        margin-top: 0px;
    }
    .tab-m{
        margin-left: 9px;
    }
    .list-m{
        margin-bottom: 15px;
    }
    .no-p{
        font-size: 14px;
        margin-left: 15px;
    }
    .header-drop{
        background: #eeeeee !important;
        
    }
    .no-data{
        margin-left: 10px;
    }
    .h-drop{
        margin-left: 20px !important;
    }

}